In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report

In [2]:
url = "https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv"
titanic = pd.read_csv(url)

In [3]:
titanic
titanic["Sex"]=titanic["Sex"].map({"male":1, "female":0})
titanic.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [4]:
X = titanic.loc[:, ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare"]]

In [5]:
# X.isna().sum()
mean_value = X["Age"].mean()
X["Age"].fillna(value=mean_value, inplace=True)
X.isna().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [6]:
y = titanic.loc[:, ["Survived"]]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                   random_state=42, 
                                   test_size=0.25)

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [9]:
tree_model = DecisionTreeClassifier()

In [10]:
parameter = {
    "criterion": ['gini', 'entropy', 'log_loss'],
    "splitter": ['best', 'random'],
    "max_depth": [1,2,3,4,5],
    "max_features": ['auto', 'sqrt', 'log2']
}

In [11]:
from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(tree_model, param_grid=parameter, cv=10, scoring="accuracy")

In [12]:
cv.fit(X_train, y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
300 fits failed out of a total of 900.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
300 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 937, in fit
    super().fit(
  File "C:\Users\HP\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 352, in fit
    criterion = CRITERIA_CLF[self.criterion](
KeyError: 'log_loss'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\HP\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.70943012 0.72155133 0.69599729 0.65289462 0.66917684 0.70226142
 0.7469697  0.72155133 0.74990954 0.77684306 0.72304387 0.74721845
 0.74423338 0.77856174 0.75615106 0.74104478 0.7694256  0.75169607
 0.78586612 0.76363636 0.79034374 0.76365898 0.78602442 0.78281321
 0.78000905 0.75142469 0.7812076  0.77087291 0.75730439 0.7964948
 0.72146088 0.69895975 0.66605608 0.67055631 0.73206694 0.69151967
 0.73810493 0.71105834 0.72763455 0.73631841 0.69626866 0.73172773
 0.77842605 0.72155133 0.74701493 0.76641791 0.78889643 0.74122569
 0.79796472 0.79201719 0.76811398 0.77109905 0.76806875 0.78744912
 0.80393487 0.77851651 0.8070104  0.78299412 0.77702397 0.78606965
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan
        nan        nan        nan        nan        nan        nan]
  warnings.warn(

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_depth': [1, 2, 3, 4, 5],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='accuracy')

In [13]:
cv.best_params_

{'criterion': 'entropy',
 'max_depth': 5,
 'max_features': 'sqrt',
 'splitter': 'best'}

In [14]:
from sklearn.metrics import accuracy_score, classification_report

In [15]:
y_pred = cv.predict(X_test)

In [16]:
score = accuracy_score(y_pred, y_test)

In [17]:
score

0.8295964125560538

In [18]:
print(classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           0       0.90      0.83      0.86       144
           1       0.73      0.82      0.77        79

    accuracy                           0.83       223
   macro avg       0.81      0.83      0.82       223
weighted avg       0.84      0.83      0.83       223

In [19]:
import pickle

In [20]:
pickle.dump(cv, open("DecisonTreeClassifierModel.pkl", "wb"))